html, body, #map {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  padding-top: 50px;
}

#map {
    position: relative;
}

#map canvas {
    position: absolute;
}

#drawer {
    display: none;
    position: absolute;
    overflow-y: auto;
    top: 71px;
    max-height: calc(760px - 71px);

    z-index: 2;
    width: 410px;
    background-color: white;

    box-shadow: 3px 0px 5px rgba(0,0,0,0.2);
}

@media only screen and (max-height: 760px) {

#drawer {
    /* Snap to bottom, this will start the scrolling */
    bottom: 0px;
}

}

#drawer .content {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
}

/* Bootstrap additions */
a.disabled,
a.disabled:visited ,
a.disabled:active,
a.disabled:hover {
    color:#aaa !important;
}

.modal-body {
    left-padding: 20px;
    right-padding: 20px;
}

/* Application style */

.navbar .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: white;
}

.layers-control {
  position: fixed;
  bottom: 10px;
  top: auto;
}

/* Filters control */

.filters-control {
    position: absolute;
    bottom: auto;
    top: 10px;
    padding: 10px;
    border-radius: 5px;
    right: 10px;
    left: auto;
    background-color: white;
    width: 170px;
}

.filters-control form {
    position: relative;
}

.filters-control .btn {
    width: 100%;
}
