html, body, #map {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  padding-top: 50px;
}

#map {
    position: relative;
}

#map canvas {
    position: absolute;
}

#drawer {
    position: absolute;
    top: 1px;
    z-index: 2;
    height: 100%;
    width: 450px;
    background-color: white;
}

/* Bootstrap additions */
a.disabled,
a.disabled:visited ,
a.disabled:active,
a.disabled:hover {
    color:#aaa !important;
}

.modal-body {
    left-padding: 20px;
    right-padding: 20px;
}

/* Application style */

.navbar .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: white;
}

.layers-control {
  position: fixed;
  bottom: 10px;
  top: auto;
}

/* Filters control */

.filters-control {
    position: absolute;
    bottom: auto;
    top: 10px;
    padding: 10px;
    border-radius: 5px;
    right: 10px;
    left: auto;
    background-color: white;
    width: 170px;
}

.filters-control form {
    position: relative;
}

.filters-control .btn {
    width: 100%;
}
