 .btn.btn-default.chartTabs.selectedTab {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}

#drawer {
    display: none; 
    height:610px; 
    position: fixed; 
    bottom: 10px;  
    top: auto;
}